:root {
  --background: #fbf7f5;
}

/* Define font-face for FiraCode */
@font-face {
  font-family: 'FiraCode';
  src: url('/styles/fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/styles/fonts/FiraCode-Light.ttf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/styles/fonts/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/styles/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/styles/fonts/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Apply FiraCode font to all elements */
* {
  font-family: 'FiraCode', monospace;
}

html,
body {
  background-color: var(--background);
  color: var(--base01);
}

.top-bar {
  font-size: 120%;
  font: bold;
  background-color: #333;
  color: #fff;
  padding: 12px 0;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.terminal-container {
  text-align: center;
  padding-right: 24px;
}

.terminal {
  display: inline-block;
}

.linkedin {
  margin-left: auto;
  margin-right: 18px;
}

.fa-white {
  color: #fff !important;
}

.midFull {
  background-color: #333;
  color: #fff;
  padding: 12px 0;
  display: flex;
  /* justify-content: center; */
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  padding-left: 12px;
  margin-top: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* Meeting container */
.meeting-container {
  width: 100%; /* Adjust width as needed */
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Meeting title */
.meeting-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Meeting content */
.meeting-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Google Calendar iframe */
.google-calendar {
  width: 70%; /* 65% width for Google Calendar */
  border-top-left-radius: 12px; /* Match top left corner radius */
  border-bottom-left-radius: 12px; /* Match bottom left corner radius */
}

/* Koalendar iframe */
.koalendar {
  width: 30%; /* 35% width for Koalendar */
  border-top-right-radius: 12px; /* Match top right corner radius */
  border-bottom-right-radius: 12px; /* Match bottom right corner radius */
}